<% provide(:title, "Home") %>
<div class = "center jumbotron">
	<p>
		This is for the home page.
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
		Sample Application
	</p>
	<h1>Welcome to my Portfolio</h1>
	<p> This is the home page for my Portfolio. </p>
	<br>
	<p> Hello! My name is Heinrich Von P. Woogue </p>
	<p> I am a Bachelor of Science in Computer Science student 
		at the University of San Carlos.</p>
	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
