<% provide(:title, "Home") %>
<div class = "center jumbotron">
	<p>
		This is for the home page for my Portfolio.
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
		Sample Application
	</p>
	<h1>Welcome to my Portfolio</h1>
	<br>
	<p> Hello! My name is Heinrich Von P. Woogue </p>
	<p> I am a Bachelor of Science in Computer Science student 
		at the University of San Carlos.</p>
	<p> Contact me at:</p>
	<ol>
		<li><b>Gmail:</b> heinwoogue@gmail.com</li>
		<li><b>GitHub:</b> heinwoogue</li>
		<li><b>Facebook:</b> Heinrich Woogue</li>
	</ol>
	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
