/* footer */
.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	background-color: green;
	color: white;

	a {
		color: white;
	}

	a:hover {
		color: white;
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			color: white;
			margin-left: 15px;
		}
	}
}